body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b37d8b;
}

.card {
    width: 15rem;
    height: 25rem;
    background-color: #d8abb7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 30px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.title {
    font-family: 'Satisfy', sans-serif;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
}

.btn {
    width: 15rem;
    background-color: #d8abb7;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
}